html, body {
    position: center;
    /*background-image: url("http://i.imgur.com/3eyinGU.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;*/
    font-family: 'Lato', sans-serif;
}

/*.video {
    background-repeat: no-repeat;
}*/
/*video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}*/

.welcome_message {
    color: AliceBlue;
    text-align: center;
    position: relative;
    top: -10px;
    font-size: 48px;
    font-weight: bold;
}

.we_are {
    color: AliceBlue;
    text-align: center;
    position: relative;
    font-size: 32px;
    font-weight: bold;
}

.logo {
    position: relative;
    top: 50px;
    /*left: 26.5%;*/
    -webkit-transform: rotate(45deg);
    -webkit-animation-delay: 2.0s;
}

.info {
    color: Aliceblue;
    text-align: center;
    position: relative;
    top: 500px;
    font-size: 2em;
}

#info_about {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 10px;
}

.soundcloud {
    position: relative;
    left: 60%;
    top: 550px;
    horizontal: middle;
}

.facebook {
    position: relative;
    top: 550px;
    left: 46%;
}

.youtube {
    position: relative;
    top: 550px;
    left: 32%
}

.tracks {
    color: Aliceblue;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 950px;
    font-size: 48px;
}


.soundcloud_lean_on {
    position: relative;
    top: 1000px;
    padding-bottom: 20px;
}

.soundcloud_blind {
    position: relative;
    top: 1000px;
    padding-bottom: 20px;
}

.soundcloud_echoes {
    position: relative;
    top: 1000px;
    padding-bottom: 20px;
}

.soundcloud_gyroscope {
    position: relative;
    top: 1000px;
    padding-bottom: 20px;
}

.soundcloud_achja {
    position: relative;
    top: 1000px;
    padding-bottom: 20px;
}

.soundcloud_loosecontrol {
    position: relative;
    top: 1000px;
}


.soundcloud_more_tracks {
    color: AliceBlue;
    position: relative;
    text-align: center;
    font-weight: bold;
    top: 1200px;
    text-align: center;
    border: 4px solid rgba(22, 134, 168, 0.5);
    height: 200px;
    width: 250px;
    background: rgb(22, 134, 168);
    background: rgba(108, 175, 209, 0.5);
}


#form-wrap {
    width: 600px;
    border: 5px solid #ccc;
    background: rgba(108, 175, 209, 0.1);
    margin: 50px auto;
    padding: 20px 0;
    position: relative;
    top: 1450px;
}

form {
    width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 5px 0 5px 20px;
    font: 18px sans-serif;
    color: #888;
}

input {
    width: 250px;
    margin: 0 0 0 20px;
}

textarea {
    width: 250px;
    margin: 0 0 0 20px;
}

fieldset {
    border: none;
    background-color: #f6f6f6;
    padding: 0 0 20px 0;
}

.labelone {
    margin-top: 10px;
}

.btn {
    width: 125px;
}

form h4 {
    margin: 20px 0 0 30px;
    font: 24p sans-serif;
    color: cornflowerblue;
    font-weight: bold;
}


nav ul {
    display: inline;
    color: AliceBlue;
    position: relative;
    top: 1400px;
    padding-bottom: 5px;
}

nav li {
    position: center;
    padding: 0 10px;
    display: inline;
}
